@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotate-bg {
  from {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0% 50%;
  }
}

.moving-bg {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, #f97316, #ef4444, #a855f7, #eab308);
  background-size: 400% 400%;
  animation: rotate-bg 10s ease infinite alternate-reverse;
}